/*.page-content {*/
/*    background: white;*/
/*    padding: 3rem;*/
/*    border-radius: 12px;*/
/*    box-shadow: 0 4px 12px rgba(0,0,0,0.08);*/
/*}*/

.page-content {
    margin-bottom: 80px;
}

.hero-section h1 {
    text-align: center;
}
.page-content h2 {
    color: var(--primary-purple);
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.page-content h3 {
    color: var(--dark-gray);
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
}

.page-content p {
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

.page-content ul,
.page-content ol {
    margin-bottom: 1.5rem;
    padding-left: 2rem;
}

.page-content li {
    margin-bottom: 0.5rem;
}
.page-content a {
    color: var(--primary-green);
}

@media (max-width: 768px) {
    .page-content {
        margin-bottom: 50px;
    }
}
